.App {
  text-align: center;
  color: green;
}
.main {
  width: 80%;
  margin: auto;
  background-color: green;
  border-radius: 6px;
  text-align: left;
  margin-bottom: 30px;
}
.questheader {
  font-size: 25px;
  font-weight: bold;
  font-family: serif;
  color: white;
}
.padd {
  width: 80%;
  margin: auto;
  padding-top: 1%;
}
hr {
  border: 1px solid white;
  margin-top: -15px;
}
.quest {
  font-size: 23px;
  color: white;
  font-family: initial;
  margin-top: 20px;
}
.option {
  margin-top: 30px;
}
.opt {
  width: 100%;
  height: 50px;
  background: white;
  margin: 10px 0px;
  font-size: x-large;
  font-family: monospace;
  text-align: left;
  padding-left: 20px;
}
.opt:hover {
  cursor: pointer;
  background-color: yellowgreen;
}
.score {
  display:inline-block;
  min-width: 50%;
  color: white;
}
.scoremain {
  text-align: center;
  padding-bottom: 10px;
}
h1.title {
  font-size: xx-large;
  font-family: initial;
  font-weight: bolder;
}
.greet {
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 33px;
  font-family: unset;
}
@media screen and (max-width: 565px)
{
  .opt{
    height: unset;
    min-height: 50px;
    height: 30% ;
  }
}
@media screen and (max-width: 400px)
{
  .score{
    display: block;
  }
  .greet {
    font-size: 23px;
  }
}
